.accred {
	
}
.accred .client .groupe {
	float: left;
	background: #666;
	height: 180px;
	width: 161px;
	margin-right: 20px;
	text-align: center;

}
.accred .client .photo {
	float: left;
}
.accred .client .photo .simulPhoto {
	background: #666;
	height: 180px;
	width: 161px;
	margin-right: 20px;
}

.accred .client .optionPhoto {
	margin-top: 5px;
}
.accred .client .optionPhoto a {
	display: inline-block;
    padding: 8px 0 8px 0;
    background: #6c8693;
    color: #FFF;
	width: 78px;
	text-align: center;
	font-size: 10px;
}
.accred .client .optionPhoto a:hover {
    background: #2e6f92;
}

.accred .client .infos label {
	width: 100px;
	display: inline-block;
	color: #888;
}
.accred .client .infos label.short {
	width: 60px;
}
.accred .client .infos input[type=text], .accred .client .infos select {
	border: 1px solid #AAA;
	font-size: 16px;
	padding: 2px 6px 2px 6px;
	width: 400px;
	border-radius: 0;
	display: inline-block;
	color: inherit;
}
.accred .client .infos input[type=text][readonly], .accred .client .infos select[readonly], .accred .client .infos select:disabled {
	border: 1px solid #FFF;
}
.accred .client .infos input.nom, .accred .client .infos input.prenom {
	font-size: 26px;
	padding: 0px;
	padding-left: 10px;
}
.accred .client .infos input.prenom {
	margin-top: 5px;
	margin-bottom: 5px;
}
.accred .client .infos select.pays {
	width: auto;
	padding-left: 15px;
	font-size: 16px;
	background: #FFF;
}
.accred .client .infos select.pays option {
	padding-left: 20px;
}
.accred .client .infos input.fonction {
	font-style: italic;
}
.accred .client .infos input.tel {
	margin-top: 5px;
}

.accred .client .infos input.nbpersonne {
	margin-top: 5px;
}
.accred .client .infos .valideInfos {
    background: #999;
	box-shadow: 0 0 0;
	border-radius: 2px;
}
.accred .client .infos .valideInfos:hover {
    background: #666;
	color: #FFF;
}

/*
 * Nouveau client
 */

.accred .client.nouveau .infos input[type=text], .accred .client.nouveau .infos select {
	font-size: 16px;
	padding: 5px 10px 5px 10px;
}
.accred .client.nouveau .infos select {
	width: 422px;
}

/*
 * Liste des accred
 */

.accred .listeAccred {
	margin-top: 30px;
}
.accred .listeAccred h3 {
	font-weight: normal;
	font-size: 22px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
	margin-top: 30px;
}
.accred .listeAccred .ligneAccred {
	border: 1px solid #DDD;
	background: #E3E3E3;
	margin-top: 3px;
}
.accred .listeAccred .ligneAccred.close {
	background: #EEE;
}
.accred .listeAccred .ligneAccred:hover {
	cursor: pointer;
}
.accred .listeAccred .ligneAccred.close:hover {
	background: #E3E3E3;
}

.accred .listeAccred .ligneAccred div.fixe, .accred .listeAccred .ligneAccred form, .accred .listeAccred .ligneAccred .detailZones {
	padding: 10px;
}


.accred .listeAccred .ligneAccred span {
	display: inline-block;
	font-size: 16px;
}
.accred .listeAccred .ligneAccred span.date {
	width: 100px;
}
.accred .listeAccred .ligneAccred span.categorie {
	min-width: 105px;
}
.accred .listeAccred .ligneAccred span.etat {
	margin-left: 20px;
}

.accred .listeAccred .ligneAccred .editAccred {
	background: #E3E3E3;
	border-top: 1px dashed #CCC; 
}
.accred .listeAccred .ligneAccred .editAccred div {
	margin-bottom: 6px;
}
.accred .listeAccred .ligneAccred .editAccred input[type=text],
.accred .listeAccred .ligneAccred .editAccred select {
    border: 1px solid #CCC;
    padding: 4px 8px 4px 8px;
    font-size: 16px;
	border-radius: 0px !important;
	box-shadow: 0 0 0 0 !important;
	display: inline-block;
}
.accred .listeAccred .ligneAccred .editAccred table.choixZones {
    width: 100%;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin-top: 10px;
}
.accred .listeAccred .ligneAccred .editAccred table.choixZones td {
    padding: 4px;
}
.accred .listeAccred .ligneAccred .editAccred input[type=submit] {
    background: #999;
	box-shadow: 0 0 0;
	border-radius: 2px;
}
.accred .listeAccred .ligneAccred .editAccred input[type=submit]:hover {
    background: #666;
	color: #FFF;
}

.accred .listeAccred .ligneAccred div.detailZones {
	border-top: 1px dashed #CCC;
	font-size: 16px;
	padding-top: 10px;
}

/*
 * RECHERCHE CLIENT POUR AJOUT
 */

form.rechercheClient {
	width: 500px;
	margin: auto;
}

form.rechercheClient div.flowSearch label {
	font-size: 22px;
	color: #999;
	font-style: italic;
}
form.rechercheClient div.flowSearch input {
	width: 500px;
	border-radius: 0;
	border: 2px solid #666;
	padding: 8px 20px 10px 20px;
	font-size: 28px;
}
form.rechercheClient div.flowSearch input:focus {
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2) inset;
}

form.rechercheClient div.listeTempsReel div.itemFlowSearch {
	width: 512px;
	padding: 10px 15px 10px 15px;
	border: 1px solid #CCC;
	border-top: 0;
	background: #F3F3F3;
	display: none;
}
form.rechercheClient div.listeTempsReel div.itemFlowSearch:hover {
	background: #DDD;
	cursor: pointer;
}
form.rechercheClient div.listeTempsReel div.itemFlowSearch span.pays {
	float: right;
}


/* 
 * AUTRES
 */

div.inputs {
	margin-left: 180px;
}



/*
 * Ergonomie zone
 */
 
.contientZones {
	margin-top: 15px;
}
 .contientZones label {
	float: left;
	margin-right: 5px;height: 50px;
}
.contientZones .checkzone {
	display: inline-block;
	margin-bottom: 5px;
	background: #CCC;
	color: #666;
	font-size: 11px;
	border-radius: 4px;
	width: 40px;
	text-align: center;
	padding: 5px 2px 5px 2px;
}
.contientZones .checkzone:hover {
	background: #AAA;
	cursor: pointer;
}
.contientZones.readonly .checkzone:hover {
	background: #CCC;
	cursor: auto;
}
.contientZones.readonly .checkzone.on:hover {
	background: #2e6f92;
	cursor: auto;
}
.contientZones .checkzone input {
	display: none;
}
.contientZones .checkzone.on {
	background: #2e6f92;
	color: #FFF;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}



/*
 * Form accred en place pour modification
 */
form#editAccredRealTime input[type=text][readonly], form#editAccredRealTime select[disabled] {
	border: 1px solid #FFF;
}


/* ajout de groupe */
#tableauReferent td, #tableauPersonne td  {
	font-size: 12px;
}
#tableauReferent input[type=text], #tableauPersonne input[type=text] {
	width: 208px;
	display: block;
	margin-right: 10px;
}

#tableauPersonne {
	padding-bottom: 10px;
	margin-top: 5px;
	border-bottom: 1px dashed #CCC;
}