.categorieAllInOne {
	
}

.categorieAllInOne td.icon {
	width: 30px;
	padding: 4px 6px 4px 6px;
}

.categorieAllInOne td.little {
	width: 150px;
}
.categorieAllInOne td.little a {
	font-size: 10px;
	color: #999;
}
.categorieAllInOne td.little a:hover {
	color: #000;
}

.categorieAllInOne form, .categorieAllInOne form input[type=text], .categorieAllInOne form input[type=submit] {
	display: inline-block;
	float: none;
	margin: 0;
}

.categorieAllInOne form input[type=text] {
	border-radius: 0;
	padding: 4px 8px 4px 8px;
	width: 250px;
	text-align: left;
}
.categorieAllInOne form input[type=text].error {
	border: 2px solid #FFA07A;
}
.categorieAllInOne form input[type=text][readonly] {
	border: 1px solid transparent;
	background: transparent;
}

.categorieAllInOne form span.colorpicker {;
	display: inline-block;
	border-radius: 4px;
	text-align: center;
	padding: 5px 0 0 0;
	background: red;
	width: 27px;
	height: 21px;
}
.categorieAllInOne form span.colorpicker:hover {
	box-shadow: 0 0 3px rgba(0,0,0,1);
	cursor: pointer;
}

.categorieAllInOne form input[type=submit] {
	border-radius: 0;
	width: auto;
	padding: 4px 8px 4px 8px;
	margin-left: 20px;
	border-radius: 4px;
}
.categorieAllInOne form.disabled input[type=submit] {
	display: none;
}
.categorieAllInOne form.disabled span.colorpicker {
	display: none;
}


.icons {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-top: 4px;
	background: no-repeat 5px 5px;
}
.icons:hover {
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	border-radius: 4px;
	cursor: pointer;
}

.icons.update {
	background-image: url(../../images/icons/update.png);
}
.icons.update:hover {
	background-image: url(../../images/icons/update_hover.png);
}

.icons.delete {
	background-image: url(../../images/icons/delete.png);
}
.icons.delete:hover {
	background-image: url(../../images/icons/delete_hover.png);
}

.icons.add {
	background-image: url(../../images/icons/add.png);
}
.icons.add:hover {
	background-image: url(../../images/icons/add_hover.png);
}




.picker {
	position: absolute;
	background: #666;
}
.picker span {
	display: inline-block;
}