/*
 *	ASIDE
 */

aside {
    float: left;
    width: 200px;
}

ul {
    margin-left: 15px;
}
ul li a:hover {
    color: #2e6f92;
}


/*
 * ASIDE
 */

aside .search {
    font-size: 14px;
    border: 1px solid #1d465b;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    background: #EEE;
    display: block;
}
aside :focus {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    background: #FFF;
}

aside b {
	display: inline-block;
	margin-top: 20px;
}
aside b:first-child {
	margin-top: 0px;
}

aside ul {
	margin-bottom: 20px;
}
aside ul li {
	margin-left: 10px;
}

aside a {
	display: block;
	text-align: center;
	width: 155px;
	padding: 8px 12px 8px 12px;
	border: 1px solid #CCC;
	color: #666;
	background: #F3F3F3;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 12px;
}
aside a:hover {
	border: 1px solid #6c8693;
	color: #FFF;
	background: #6c8693;
}


/*
 *	MAIN
 */

#main {
	margin-left: 200px;
	padding-left: 20px;
	border-left: 1px dashed #DDD;
}
#main.nomargin {
	margin-left: 0;
	padding-left: 0;
	border: 0;
}

#main h2 {
	font-weight: normal;
	font-size: 28px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #DDD;
}

table.details th, table.details td {
    padding: 8px;
	text-align: left;
}
table.details th {
    padding-right: 30px;
}


table.liste {
    width: 100%;
	border-collapse:collapse;
}
table.liste * {
    text-align: center;
}
table.liste thead tr {
    background: #6c8693;
    color: #FFF;
}
table.liste tr th, table.liste tr td {
    padding: 8px;
}
table.liste tr th {
    font-weight: normal;
	margin: 0;
}
table.liste tr th:first-child {
    text-align: left;
	padding-left: 15px;
}
table.liste tr td:first-child {
    border-left: 1px solid #CCC;
	text-align: left;
	padding-left: 15px;
}
table.liste tr td:last-child {
    border-right: 1px solid #CCC;
}
table.liste tr td {
    border-bottom: 1px solid #CCC;
    border-right: 1px dotted #CCC;
}



/* CSS pour la vue d'ajout d'evenement */

table.listeZoneEvent {
	width: 25%;
	padding: 5px;
	
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	