/*
 *	ASIDE
 */

aside {
    float: left;
    width: 200px;
}

ul {
    margin-left: 15px;
}
ul li a:hover {
    color: #2e6f92;
}


.search {
    font-size: 14px;
    border: 1px solid #1d465b;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    background: #EEE;
    display: block;
}
.search:focus {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    background: #FFF;
}


/*
 *	MAIN
 */

#main {
	margin-left: 200px;
	padding-left: 20px;
	border-left: 1px dashed #DDD;
}

#main h2 {
	font-weight: normal;
	font-size: 28px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #DDD;
}

table.details th, table.details td {
    padding: 8px;
	text-align: left;
}
table.details th {
    padding-right: 30px;
}


table.liste {
    width: 710px;
}
table.liste * {
    text-align: center;
}
table.liste thead tr {
    background: #6c8693;
    color: #FFF;
}
table.liste th, table.liste td {
    padding: 8px;
}
table.liste th {
    font-weight: normal;
}
table.liste tr td:first-child {
    border-left: 1px solid #CCC;
}
table.liste tr td:last-child {
    border-right: 1px solid #CCC;
}
table.liste td {
    border-bottom: 1px solid #CCC;
    border-right: 1px dotted #CCC;
}