* {
    margin: 0;
    padding: 0;
    font-family: "Verdana";
    font-size: 14px;
}
a {
    text-decoration: none;
    color: inherit;
}


body {
    background: #afbcc5;
}


header {
    background: #1d465b;
    color: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
header .wrap-h {
    width: 1000px;
    margin: auto;
}
header .wrap-h #logo {
    padding: 15px 0 15px 0;
    font-size: 12px;
}
header .wrap-h nav {
    float: right;
}
header .wrap-h nav a {
    display: inline-block;
    padding: 15px 10px 15px 10px;
    font-size: 12px;
}
header .wrap-h nav a:hover {
    background: #2e6f92;
}


#content {
    width: 1000px;
    padding: 50px 0 80px 0;
    margin: auto;
}


.wrap {
    
}


h1 {
    color: #1d465b;
    font-weight: normal;
    font-size: 42px;
    margin-bottom: 20px;
}


.tabs {
    
}
.tabs a {
    display: inline-block;
    padding: 8px 16px 6px 16px;
    background: #6c8693;
    border-radius: 6px 6px 0 0;
    color: #FFF;
}
.tabs a.current {
    background: #1d465b;
}
.tabs a:hover {
    background: #2e6f92;
}


.box-full {
    background: #FFF;
    padding: 25px 30px 25px 30px;
    border-radius: 0 6px 10px 10px;
    border-top: 8px solid #1d465b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.clear {
    clear: both;
}


aside {
    float: left;
    width: 200px;
}

.liste {
    margin-left: 220px;
    width: 710px;
}
.liste * {
    text-align: center;
}
.liste thead tr {
    background: #6c8693;
    color: #FFF;
}
.liste tbody tr:hover {
    background: #DDD;
    cursor: pointer;
}
.liste th, .liste td {
    padding: 8px;
}
.liste th {
    font-weight: normal;
}
.liste tr td:first-child {
    border-left: 1px solid #CCC;
}
.liste tr td:last-child {
    border-right: 1px solid #CCC;
}
.liste td {
    border-bottom: 1px solid #CCC;
    border-right: 1px dotted #CCC;
}

ul {
    margin-left: 15px;
}
ul li a:hover {
    color: #2e6f92;
}