* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
}

body {
    background: #afbcc5 url('../../images/bg.jpg') top center fixed;
    color: #FFF;
}

header {
    text-align: center;
    padding: 10px;
}
header #menu {
    float: right;
}

h1 {
    display: inline-block;
    background: #1d465b;
    font-weight: normal;
    padding: 5px 15px 1px 15px;
    border-radius: 8px 8px 0 0;
    font-size: 22px;
}

h4 {
	display: inline-block;
	font-size: 20px; 
}

.wrap {
    width: 500px;
    margin: auto;
    padding: 10px 5px 10px 5px;
    background: rgba(109, 135, 148, 0.7);
    border-radius: 10px;
}
.wrap2 {
    width: 1000px;
    margin: auto;
    padding: 10px 5px 10px 5px;
    background: rgba(109, 135, 148, 0.7);
    border-radius: 10px;
}
.wrap3 {
	float: right;
	margin-right: 35px;
}
.box-small {
    background: #2e6f92;
    border-top: 8px solid #1d465b;
    padding: 20px;
    border-radius: 0 6px 8px 8px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

input[type=text], .select {
    background: #b5bfc9;
    border: 1px solid #1d465b;
    padding: 4px 8px 4px 8px;
    width: 440px;
    border-radius: 5px;
    font-size: 16px;
}
input[type=text]:focus {
    background: #ced5db;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

label {
    margin-left: 10px;
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
}
input[type=submit] {
    background: #1d465b;
    border-radius: 5px;
    border: 0px;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    float: right;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
input[type=submit]:hover {
    background: #FFF;
    color: #1d465b;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.clear {
    clear: both;
}

.encadrer{
    background: #b5bfc9;
    color: #000;
    border: 1px solid #1d465b;
    padding: 4px 8px 4px 8px;
    width: 440px;
    border-radius: 5px;
    font-size: 16px
}
table{
    background: #b5bfc9;
    color: #000;
    border: 2px #CCC;
    width: 900px;
	text-align: center;
}

tr{
	border: 1px solid #1d465b;
}

td{
	border: 1px solid #1d465b;
}



/* GROUPE */

#inscriptionGroupe {
	
}

#inscriptionGroupe .ligne {
	margin-bottom: 1px;
}

#inscriptionGroupe .ligne h3 {
	font-weight: normal;
	background: #1d465b;
	font-size: 18px;
	padding: 6px 10px 6px 10px;
	border-radius:6px;
	cursor: pointer;
}

#inscriptionGroupe .ligne h3 .modifier {
	color: #1d465b;
	float: right;
	font-size: 16px;
	font-style: italic;
}
#inscriptionGroupe .ligne h3:hover .modifier {
	color: #FFF;
}

#inscriptionGroupe .ligne .form {
	background: rgba(109, 135, 148, 0.7);
	padding: 0 18px 18px 18px;
	border-radius: 6px;
}

#inscriptionGroupe .ligne .form .split {
	float: left;
	margin-right: 15px;
}

#inscriptionGroupe .ligne .form .split .encadrer{
    background: #b5bfc9;
    color: #000;
    border: 1px solid #1d465b;
    padding: 4px 8px 4px 8px;
    width: 300px;
    border-radius: 5px;
    font-size: 16px
}

#inscriptionGroupe .ligne .form .splitRight {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
#inscriptionGroupe .ligne .form .split input[type=text] {
	width: 300px;
}
#inscriptionGroupe .ligne .form .split select {
	display: block;
	width: 320px;
	font-size: 14px;
}
#inscriptionGroupe .ligne .form .split a {
	float: none;
	margin-top: 33px;
}

#inscriptionGroupe #ajoutMembre {
	margin-top: 20px;
}

/* Gestion pour les méssage d'erreur */
.error_message {
	padding: 5px 2px 5px 2px;
	color: white;
	font-weight: bold;
	margin-left: 30px;
}

.photo {
	float: left;
}

.photo .simulPhoto {
	height: 204px;
	width: 160px;
	margin-right: 20px;
}

.photo .simulPhotoGroupe {
	height: 125px;
	width: 98px;
	margin-right: 20px;
	margin-top: 20px;
}

.photo .encadrePhoto {
	margin-top: 20px;
	margin-right: 20px;
	width: 98px;
	height: 98px;
	border-color: #1d465b;
}

.optionPhoto {
	margin-top: 5px;
	margin-left: 10px;
}

.optionPhoto span {
	display: inline-block;
    padding: 8px 0 8px 0;
    background: #1d465b;
    border-radius: 5px;
    color: #FFF;
	width: 78px;
	text-align: center;
	font-size: 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.optionPhoto span:hover {
	background: #FFF;
    color: #1d465b;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
	cursor: pointer;
}


/*
 * Webcam
 */
.webcamWrapper {
	display: none;
	position: absolute;
	z-index: 50;
	padding: 10px 20px 20px 20px;
	background: #FFF;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	margin-top: -30px;
}
.webcamWrapper span {
	font-style: italic;
	font-size: 10px;
}
.captureCam {
    display: block;
	padding: 8px;
    background: #6c8693;
    color: #FFF;
	text-align: center;
	width: 256px;
}
.captureCam:hover {
    background: #2e6f92;
}
.closeCam {
	position: absolute;
	padding: 1px 6px 3px 6px;
	border-radius: 100%;
	margin-top: -18px;
	margin-left: 280px;
	background: #FFF;
	font-size: 16px;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
}
.closeCam:hover {
	color: #FFF;
	background: #000;
}



/*********************************************************/