#webcam-overlay {
    position: fixed;
    z-index: 5000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
}

#webcam-overlay #webcam-box {
    width: 275px;
    margin: auto;
    margin-top: 200px;
    background: #FFF;
    box-shadow: 2px 2px 4px rgba(0,0,0,1);
    padding: 15px;
}

#webcam-overlay #webcam-box .closeCam {
    color: #000;
    margin-top: -25px;
}
#webcam-overlay #webcam-box .closeCam:hover {
    color: #FFF;
}

#webcam-overlay #webcam-box .captureCam {
    margin-top: 15px;
}