h1 {
    color: #1d465b;
    font-weight: normal;
    font-size: 42px;
    text-align: right;
	margin-bottom: -25px;
}


.tabs a {
    display: inline-block;
    padding: 8px 16px 6px 16px;
    background: #6c8693;
    border-radius: 6px 6px 0 0;
    color: #FFF;
}
.tabs a:hover {
    background: #2e6f92;
}
.tabs a.current {
    background: #1d465b;
}
.tabs a.current:hover {
    background: #1d465b;
	cursor: default;
}


.box-full {
    background: #FFF;
    padding: 25px 30px 25px 30px;
    border-radius: 0 6px 10px 10px;
    border-top: 8px solid #1d465b;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}